// styles/css-vars.scss
:root {
    // 白天模式下文章框的底色
    --va-c-bg-light: rgba(255, 255, 255, 0.7);
    // 边栏背景图片
    --yun-sidebar-bg-img: url(https://cloudflare.remsait.com/img/mayuouli.png);
    // 边栏背景颜色透明
    --yun-sidebar-bg-color: rgba(255, 255, 255, 0);

    --va-font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;  //momo字体
}
// 夜晚模式下文章框的底色
html.dark{
    --va-c-bg-light:rgba(5, 16, 29, 0.7);
}

// 首页大字两边的背景
.char-left {
    border-right:0px solid rgba(255,255,255, 0)
}
.char-right {
    border-left:0px solid rgba(255,255,255, 0)
}

//主光标样式
body {
    cursor: url(/douni/小豆泥%20正常选择.cur), auto;
}
/* 特定元素的光标样式 */
a,
img {
    cursor: url(/douni/链接选择.cur), pointer;
}
//左侧栏
a.site-link-item.yun-icon-btn  {
    cursor: url(/douni/链接选择.cur), pointer;
}
a.link-item.yun-icon-btn  {
    cursor: url(/douni/链接选择.cur), pointer;
}
a.links-of-author-item.yun-icon-btn {
    cursor: url(/douni/链接选择.cur), pointer;
}
button.yun-icon-btn {
    cursor: url(/douni/链接选择.cur), pointer;
}
//底部页面导航栏
nav.pagination a.page-number, nav.pagination a[aria-label="next"] {
    cursor: url(/douni/链接选择.cur), pointer;
}
a.router-link-active.router-link-exact-active.page-number.active {
    cursor: url(/douni/小豆泥%20正常选择.cur), pointer;
}
//下拉上划
button.go-down {
    cursor: url(/douni/链接选择.cur), pointer;
}
a.back-to-top.yun-icon-btn.show {
    cursor: url(/douni/链接选择.cur), pointer;
}
//文章标题
a.post-title-link.cursor-pointer {
    cursor: url(/douni/链接选择.cur), pointer;
}
//输入栏样式
input[type="text"],
textarea {
    cursor: url(/douni/后台运行.cur), text;
}
//代码栏的拷贝和下拉
button.copy {
    cursor: url(/douni/链接选择.cur), pointer !important;
}
button.collapse {
    cursor: url(/douni/链接选择.cur), pointer !important;
}
//分类+标签选项
ul.category-list li.category-list-item.inline-flex.items-center.cursor-pointer {
    cursor: url(/douni/链接选择.cur), pointer !important;
}
span.post-tag.cursor-pointer.items-baseline.leading-4 {
    cursor: url(/douni/链接选择.cur), pointer !important;
}
//!important可以覆盖样式